<!DOCTYPE html>
<html>
<head>
  <title>PhenomenalRails</title>
  <%= stylesheet_link_tag    "phenomenal-rails/application" %>
  <%= javascript_include_tag "phenomenal-rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
