%h1
  HOME
  =@test_title
%p
  =test
%p
  =link_to "Activate", "#{root_path}?activated=true"
  %br
  =link_to "Deactivate", "#{root_path}"

%table
  %thead
    %th Context
    %th Active
  %tbody
    -phen_defined_contexts.each do |context|
      %tr
        %td=context.to_s
        %td=context.active?

%br
=render :partial=>"shared/partial1"
%br
=render "shared/partial2"
%br
=render :partial=>"shared/partial3",:feature=>[:PersistentFeature]
%br
=render :partial=>"shared/partial4"
= ActionController::Base.view_paths.paths
%br
%p
  Activation conditions stack
  %br
  =Phenomenal::Feature.class_variable_get(:@@middleware).instance_variable_get(:@activation_conditions)
%br
%br

=Rails.env
